@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color1: #190019;
    --color2: #2B124C;
    --color3: #522B5B;
    --color4: #854F6C;
    --color5: #DFB6B2;
    --color6: #FBE4D8;
    --blanco: white;
    --negro: black;
    --poppins: 'Poppins', sans-serif;
    --dancing: 'Dancing Script', cursive;
}

body{
    font-family: var(--dancing);
    background-color: var(--color5);
}
h1{
    font-size: 2rem;
    font-weight: 700;
}

/*COTIZACION DOLAR*/
.iframe-container {
    width: 320px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    border: 1px solid #bcbcbc;
  }
  
  .custom-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  